.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    flex-shrink: 0;
}

.chatIcon {
    width: 30px;
    height: 30px;
    padding: 1px 3px 3px;
}

.newChatIcon {
    width: 20px;
    height: 20px;
    padding-bottom: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.messages {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin !important;
    scrollbar-color: var(--theme-color) transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
}

.examplesContainer {
    justify-items: start;
}

.exampleMessage {
    display: inline-block;
    width: auto;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    margin-left: -5px;
    cursor: pointer;
    user-select: none;
    padding: 6px;
    color: var(--theme-color);
    white-space: pre-wrap;
}

.exampleMessage:hover {
    background-color: var(--theme-color);
    color: white;
}

.userMessage {
    padding: 2px 8px 4px;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid var(--theme-color);
}

.assistantMessage {
    position: relative;
    border-radius: 5px;
    padding: 2px 4px;
    font-weight: 500;
    background-color: #f5f5f5;
    color: var(--black-a12) !important;
}

.aiGeneratedContent {
    position: absolute;
    top: 0;
    right: 0;
}

.light {
    color: var(--accent-12);
}

.dark {
    color: var(--accent-10);
}

.copyIcon {
    position: sticky;
    left: 2px;
    bottom: 2px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    color: white;
}

.input {
    flex-shrink: 0;
    position: relative;
}

.selection {
    padding: 1px 3px;
    position: absolute;
    top: -30px;
    border-radius: 3px;
    background-color: color-mix(in srgb, var(--theme-color) 15%, transparent);
    color: white;
    right: 0;

    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selection:hover {
    background-color: color-mix(in srgb, var(--theme-color) 100%, transparent);
}

.textArea {
    border: 1px solid var(--theme-color) !important;
    font-size: 16px !important;
    line-height: 1.6;
}

.textArea textarea {
    font-size: 16px !important;
}

.textArea::placeholder,
.textArea textarea::placeholder {
    font-size: 16px !important;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .textArea {
        font-size: 18px !important;
    }

    .textArea textarea {
        font-size: 18px !important;
    }

    .textArea::placeholder,
    .textArea textarea::placeholder {
        font-size: 18px !important;
    }
}

.textArea:focus {
    border: none;
}

.sendBtn {
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 10px;
    position: absolute;
    padding: 1px;
    color: var(--theme-color);
    border-radius: 3px;
    cursor: pointer;
}

.sendBtn:focus {
    outline: none;
    border: 1px solid var(--theme-color);

}
