.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    justify-self: center;
    border: 1px solid #e3e8e8;
    width: 100%;
}

.main {
    padding: 0.4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin !important;
    scrollbar-color: var(--theme-color) transparent;
}